@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    @apply font-poppins;
}

.custom-file-input::before {
  display: inline-block;
  -webkit-user-select: none;
  cursor: pointer;
}



.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

@layer base {
    tr {
        @apply border-b border-t hover:bg-purple-100/20;
    }

    td:not(:last-child) {
        @apply border-r;
    }

    td {
        @apply p-2;
    }
}

@layer base {
    .notification-base-static {
        @apply shadow-lg fixed rounded-md w-[380px] py-4 px-6 z-10
    }
    .notification-base-dynamic {
        @apply shadow-lg fixed rounded-md w-[380px] py-4 px-6 z-10
    }

    .error-notifications {
        @apply bg-red-500  shadow-red-100 top-5 right-5 ;
    }

    .info-notifications {
        @apply bg-purple-500 shadow-purple-200  bottom-5 left-5;
    }
}
