@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

@layer base {
    tr {
        @apply border-b border-t hover:bg-purple-100/20;
    }

    td:not(:last-child) {
        @apply border-r;
    }

    td {
        @apply p-2;
    }
}

@layer base {
    .error-notifications {
        @apply bg-red-500 shadow-lg shadow-red-100 absolute top-10 right-10 rounded-md w-96 py-4 px-6 z-10;
    }

    .info-notifications {
        @apply bg-white shadow-lg shadow-purple-200 absolute bottom-10 left-10 rounded-md w-96 py-4 px-6 z-10;
    }
}
